{% comment %}
Inputs:
- filter: a category
{% endcomment %}
<p>
  {%- for tag in collections.categories %}
    {% if filter == undefined or filter contains tag %}
      <a href="{{ site.url }}{{ site.baseurl }}{% if lang != 'fr' %}/{{ lang }}{% endif %}/tags/{{ tag | downcase }}">{{ tag }}</a>
    {% endif %}
  {% endfor %}
</p>

